{% extends 'JmlamoDemoBundle::base.html.twig' %}

{% block title %}JmlamoDemoBundle:Form:index{% endblock %}

{% block body %}
<h1>Form homepage</h1>
<ul>
    <li><a href="{{ path('jmlamo_demo_form_new') }}">New task</a></li>
</ul>
{% endblock %}
