/web/bundles/
/web/css/
/web/js/
/web/images/
/web/coverage/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/parameters.yml.jenkins.*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/build/
/build/
/vendor/
/bin/
/composer.phar
/cache.properties
.buildpath
.project
*~
/.settings/
/.idea/