{% extends "::base.html.twig" %}
{% block title %}JmlamoDemoBundle:Random:index{% endblock %}
{% block body %}
<h1>Random result</h1>
<p>Limit given : {{limit}}</p>
<p>Result : {{randomNumber}}</p>
{% endblock %}
