<!DOCTYPE html>
<html{% block xmlns %} xmlns:hx="http://purl.org/NET/hinclude"{% endblock %}>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Jmlamo.net, my personnal website{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="sidebar">
            {% block sidebar %}
                <ul>
                    <li><a href="{{ path('jmlamo_demo_default_index') }}">Demo bundle</a></li>
                </ul>
            {% endblock %}
        </div>
        <div id="content">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-message">
                <em>Notice</em>: {{ flashMessage }}
            </div>
        {% endfor %}
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
