{% extends '::base.html.twig' %}

{% block title %}JmlamoDemoBundle:Session:index{% endblock %}

{% block body %}
{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-message">
        <em>Notice</em>: {{ flashMessage }}
    </div>
{% endfor %}
<h1>Counter : {{ counter }}</h1>
{% endblock %}
