{% extends 'JmlamoDemoBundle::base.html.twig' %}

{% block title %}JmlamoDemoBundle:Doctrine:index{% endblock %}

{% block body %}
<h1>Doctrine homepage</h1>
<ul>
    <li><a href="{{ path('jmlamo_demo_doctrine_create') }}">Create random product</a></li>
</ul>
{% endblock %}
