#sidebar{width:95%; max-width:780px; padding:10px; margin:10px auto; box-shadow: 1px 1px 3px #888;}
#content{width:95%; max-width:780px; padding:10px; margin:10px auto; box-shadow: 1px 1px 3px #888;}
