{% extends 'JmlamoDemoBundle::base.html.twig' %}

{% block title %}JmlamoDemoBundle:Twig:asset{% endblock %}

{% block body %}
<h1>Assets</h1>

<h2>Relative :</h2>
<img src="{{ asset('bundles/jmlamodemo/images/beach_400.jpg') }}" alt="Sunset on a beach">

<h2>Absolute (sf 2.5) :</h2>
<img src="{{ asset('bundles/jmlamodemo/images/beach_400.jpg', absolute=true) }}" alt="Sunset on a beach">

<h2>Individual asset version (sf 2.5) :</h2>
<img src="{{ asset('bundles/jmlamodemo/images/beach_400.jpg', version='2') }}" alt="Sunset on a beach">

{% endblock %}