{% extends 'JmlamoDemoBundle::base.html.twig' %}

{% block title %}JmlamoDemoBundle:Twig:index{% endblock %}

{% block body %}
<h1>Twig homepage</h1>
<ul>
    <li><a href="{{ path('jmlamo_demo_twig_for') }}">&quot;For&quot; examples</a></li>
    <li><a href="{{ path('jmlamo_demo_twig_embedding') }}">Embedding controller from template</a></li>
    <li><a href="{{ path('jmlamo_demo_twig_hinclude') }}">Asynchronous controller using hinclude.js</a></li>
    <li><a href="{{ path('jmlamo_demo_twig_asset') }}">Assets</a></li>
</ul>
{% endblock %}
