{% extends "::base.html.twig" %}

{% block title %}JmlamoDemoBundle:Twig:index{% endblock %}

{% block body %}
<h1>Twig homepage</h1>
<p><a href="{{ path('jmlamo_demo_twig_for') }}">&quot;For&quot; examples</a></p>
{% endblock %}
