{% extends "::base.html.twig" %}
{% block title %}JmlamoDemoBundle:Routing:index{% endblock %}
{% block body %}
<h1>Routing show</h1>
<dl>
    <dt>Slug :</dt>
    <dd>{{ slug }}</dd>
</dl>
{% endblock %}
