{% extends "::base.html.twig" %}
{% block title %}JmlamoDemoBundle:Routing:year{% endblock %}
{% block body %}
<h1>Year in html</h1>
<dl>
    <dt>Year :</dt>
    <dd>{{ year }}</dd>
</dl>
{% endblock %}
