{% extends 'JmlamoDemoBundle::base.html.twig' %}

{% block title %}Demo bundle{% endblock %}

{% block body %}
<h1>Welcome to my demo bundle</h1>
<p>For demo and testing purpose only.</p>
{% endblock %}
